<html>
<head>
    <title>Your lol if use this app</title>
    <link href="https://bootswatch.com/darkly/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#trash" data-toggle="tab" aria-expanded="true">Trash</a></li>
      <li><a href="#task" data-toggle="tab" aria-expanded="true">Task</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="trash">
        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
            <br>
            <div class="col-md-4 col-sm-4">
                <div class="jumbotron row">
                    {% for item in trash %}
                    <div class="col-md-12 col-sm-12">
                        <div class="alert alert-dismissible alert-success">
                            <a class="alert-link" href="/trashdetails/{{ item.path }}">{{item.path}}</a>
                            <button type="button" class="close" onclick="showTrashForm('{{item.path}}')">+</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="jumbotron">
                    <table class="table table-striped table-hover ">
                      <thead>
                        <tr>
                          <th>Max size</th>
                          <th>Path</th>
                          <th>File count</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="warning">
                            {% for trash in selected_trash %}
                              <td>{{ trash.size }}</td>
                              <td>{{ trash.path }}</td>
                              <td>{{ trash.max_file_count }}</td>
                            {% endfor %}
                        </tr>
                      </tbody>
                    </table>

                    <table class="table table-striped table-hover ">
                      <thead>
                        <tr>
                          <th>Item</th>
                          <th>Type</th>
                          <th>Recover</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in trash_items %}
                        <tr class="success">
                            {% for i in item %}
                            {% for trash_item in selected_trash %}
                            <td><a href="/recover/{{i.id}}/{{trash_item.path}}">{{ i }}</a></td>
                            {% endfor %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                </div>
            </div>
            {% for item in trash %}
            <div class="col-md-12 col-sm-12 jumbotron trash-form" id="{{ item.path }}" style="display:none">
                <form action="delete" class="form-horizontal" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Create task: {{item.path}}</legend>
                    <div class="form-group">
                        <input name="trash" type="hidden" value="{{item.path}}">
                        <label for="inputPath" class="col-lg-2 control-label">Path to item</label>
                          <div class="col-lg-10">
                            <input class="form-control" id="inputPath" placeholder="Path to item" name="path" type="text" value="/home/vladbekasov/file">
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
            </div>
            {% endfor %}

            <script>
                function showTrashForm(id) {
                    items = document.getElementsByClassName('trash-form')
                    for (let item of items) {
                        item.style.display = "none"
                    }
                    document.getElementById(id).style.display = "block"
                }
            </script>
        </div>
      </div>
      <div class="tab-pane fade" id="task">
        TASK
      </div>
    </div>
    <script>


    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
